.notFound {
  margin: 2em auto;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  line-height: 4em;
  text-align: center;
  width: 100%;
}

.headLine {
  font-size: 2em;
}

.link {
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 4;
}

.link:hover {
  color: goldenrod;
}
